<% @sorted_orders.each do |order| %>
  <section id="order-id-<%=order.id%>">
    <p><%= order.id %></p>
    <%= link_to "Placed by: #{order.name}", "/admin/users/#{order.user.id}", method: :get %>
    <p>Date created: <%= order.created_at %></p>
  </section>
<% end %>
